body {
  font-family: monospace;
}

h1,
h3,
a,
h5,
p {
  color: aliceblue;
}
h1 {
  font-size: 80px;
  margin-bottom: 0;
  text-transform: capitalize;
  font-weight: bolder;
  line-height: 1.5cm;
  padding: 0;
}
h3 {
  margin-top: -5px;
  margin-bottom: 0;

  font-weight: bolder;
  font-size: 73px;
}
h5 {
  font-size: 20px;
  font-weight: 900;
}
h6 {
  text-align: center;
  color: aliceblue;
  font-weight: bold;
}
h6 a {
  color: aliceblue;
}
h6 a:hover {
  color: aliceblue;
  opacity: 0.6;
}
p {
  line-height: 2;
  font-size: 18px;
  font-weight: bolder;
  margin-right: 35px;

  padding-left: 0;
  text-align: center;
  font-weight: bold;
}

.degree-link {
  font-size: 28px;
  position: relative;
  top: -30px;
  left: -30px;
}

.weather-temperature a:hover {
  color: aliceblue;
  opacity: 0.5;
}

.container.main {
  background-repeat: no-repeat;
  border-radius: 20px 8px;
  margin-top: -33px;
}
.weather-app-wrapper {
  max-width: 1200px;
  margin: 30px auto;
}

.background-img {
  background: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/045/986/original/brynden-17mCCnpomC4-unsplash.jpeg?1662843820);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  box-shadow: -5px 5px 50px 5px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
}

.main-temp-description {
  color: aliceblue;
  font-weight: bold;
  font-size: large;
}
.col.main-city {
  margin-top: 330px;
}
.main-city {
  margin: -10px 16px;
}

.forcast-icon {
  margin: 0 auto;
  padding: 0 auto;
  position: relative;
  top: -15px;
}
.box {
  color: black;
  border: none;
  border-radius: 20px 8px;
  padding: 25px 20px 38px 20px;
  margin: 10px 30px 25px 0px;
  text-align: center;
  position: relative;
  background: rgba(222, 192, 203, 0.5);
  transition: all 200ms ease-in-out;
  max-height: 77px;
  font-size: 24px;
  font-weight: bolder;
}
.box:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);

  background-color: rgba(255, 255, 255, 0.3);
}
.box::before,
.box::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: inherit;
  transition: 0.5s ease;
}
.box::before {
  left: -8px;
  top: -8px;
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-width: 3px 0 0 3px;
  border-radius: 20px 4px;
}
.box::after {
  right: -8px;
  bottom: -8px;
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-width: 0 3px 3px 0;
  border-radius: 20px 4px;
}
.box:hover::after,
.box:hover::before {
  width: calc(100% + 15px);
  height: calc(100% + 15px);
}

.forcast-icon {
  width: 55px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: -13px;
  left: 13px;
}
.search-input {
  position: relative;
}
.search-input::before,
.search-input::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: inherit;
}
.search-input::before {
  left: -8px;
  top: -8px;
  border: 4px solid rgba(222, 192, 203, 0.5);
  border-width: 2px 0 0 2px;
  border-radius: 20px 0px;
}
.search-input::after {
  right: -8px;
  bottom: -8px;
  border: 4px solid rgba(222, 192, 203, 0.5);
  border-width: 0px 2px 2px 0px;
  border-radius: 20px 0px;
}
.form-control {
  padding: 10px 15px;
  border-radius: 20px 8px;
  border: none;
  background: rgba(78, 73, 97, 0.4);
  border: 2px solid rgba(222, 192, 203, 0.5);
}
.form-control::placeholder {
  color: white;
}
.srch-bar {
  margin: 0px 20px;
}

.search-btn {
  /* outline: none; */
  color: aliceblue;
  padding: 6px 20px;
  margin: 20px 20px 20px;
  /* text-decoration: transparent; */
  background: rgba(78, 73, 97, 0.4);
  border: 2px solid rgba(222, 192, 203, 0.5);
  /* border: none; */
  border-radius: 8px 0px;
  position: relative;
  transition: all 0.4s ease-in-out;
}

.search-btn:hover {
  background: rgba(255, 220, 226, 0.4);
}
.search-btn::before,
.search-btn::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: inherit;
  transition: 0.4s ease-in-out;
}
.search-btn::before {
  left: -8px;
  top: -8px;
  border: 4px solid rgba(222, 192, 203, 0.5);
  border-width: 2px 0 0 2px;
  border-radius: 8px 0px;
}
.search-btn::after {
  right: -8px;
  bottom: -8px;
  border: 3px solid rgba(222, 192, 203, 0.5);
  border-width: 0 2px 2px 0;
  border-radius: 8px 0px;
}
.search-btn:hover::after,
.search-btn:hover::before {
  width: calc(100% + 25px);
  height: calc(100% + 25px);
}

.min-temp {
  color: black;
  opacity: 0.9;
  font-size: 20px;
  font-weight: 600;
}
.weather-temperature .active {
  color: aliceblue;
  opacity: 0.5;
  text-decoration: none;
  cursor: default;
}

.social-icons {
  display: block;
  text-align: center;
  padding-bottom: 6px;
}
.social-link {
  padding: 0px 15px 15px 15px;
  font-size: 22px;
}
.social-link:hover::before {
  opacity: 0.6;
}
.social-link:nth-child(1)::before {
  background: -webkit-linear-gradient(
    101.2deg,
    rgb(247, 0, 0) -21.9%,
    rgb(164, 50, 237) 92.2%
  );
}
.social-link:nth-child(2)::before {
  background: -webkit-linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );
}
.social-link:nth-child(3)::before {
  background: -webkit-linear-gradient(
    156.8deg,
    rgb(30, 144, 231) 27.1%,
    rgb(67, 101, 225) 77.8%
  );
}
.social-link:hover::before {
  transform: translate(-4px, -4px);
  filter: blur(10px);
}
.social-link i {
  font-size: 45px;
  transition: all 0.4s;
}
.social-link:hover i {
  color: aliceblue;
  transform: rotate(45deg);
}
.social-link:hover i.instagram {
  background: -webkit-linear-gradient(
    101.2deg,
    rgb(247, 0, 0) -21.9%,
    rgb(164, 50, 237) 92.2%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.social-link:hover i.linkedin {
  background: -webkit-linear-gradient(
    156.8deg,
    rgb(30, 144, 231) 27.1%,
    rgb(67, 101, 225) 77.8%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.social-link:hover i.github {
  background: -webkit-linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.percipitation {
  border-radius: 20px 4px;
  border: 3px solid aliceblue;
  position: relative;
}
.percipitation::before,
.percipitation::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: inherit;
  transition: 0.5s ease;
}
.percipitation::before {
  left: -12px;
  top: -12px;
  border-width: 3px 0 0 3px;
  border-radius: 20px 4px;
}
.percipitation::after {
  right: -12px;
  bottom: -12px;
  border-width: 0 3px 3px 0;
  border-radius: 20px 4px;
}
.percipitation:hover::after,
.percipitation:hover::before {
  width: calc(100% + 35px);
  height: calc(100% + 35px);
}
